# Copyright 2021 The MathWorks, Inc.
---
name: "release-all-rhel"

# Build and release all artifacts is either triggered manually or on the first day of the month to 
# ensure all artifacts are up-to-date with security and other patches to these distributions
on:
  workflow_dispatch:
# No need to schedule thie build - we know it no longer works on post glibc-2.28-189.1.el8 releases  
#  schedule:
#    - cron:  '0 2 1 * *'  

jobs:
  build-alma-8-4:
    uses: mathworks/build-glibc-bz-19329-patch/.github/workflows/build-glibc-and-release.yaml@main
    with: 
      dist-base: almalinux
      dist-tag: 8.4
      dockerfile: Dockerfile.rhel

  build-alma-8-5:
    uses: mathworks/build-glibc-bz-19329-patch/.github/workflows/build-glibc-and-release.yaml@main
    with: 
      dist-base: almalinux
      dist-tag: 8.5
      dockerfile: Dockerfile.rhel
